kdev/linux-kernel
kdev/linux-5.15.202.orig
kdev/modules.order
kdev/Module.symvers
kdev/uchaos_dev.ko.gz
kdev/uchaos_dev.ko
usrl/uchaosbox
kdev/uckaos
kdev/*.cmd
kdev/*.mod*
kdev/*.o
usrl/*.o
gzcmd.sh
gzcmd.gz.sh
cpio/bin
cpio/lib
cpio/linuxrc
cpio/sbin
cpio/usr
cpio.tmp
cpio.cpio
virt/bzImage
virt/initramfs.cpio.gz
virt/qemu-system-x86_64
virt/linuxboot_dma.bin
virt/efi-virtio.rom
virt/bios-256k.bin
virt/kvmvapic.bin
virt/qboot.rom
virt/.done
musl-output.tar.gz
qemu/qemu-system-x86_64
qemu/qemu-system-x86_64.ldc
qemu/qemu-system-x86_64.nma
qemu/qemu-system-x86_64.rsp
qemu/v10.2.2.tar.gz
qemu/minz/miniz.o
qemu/output
qemu/build
qemu/src
.sync
