kdev/linux-kernel
kdev/modules.order
kdev/Module.symvers
kdev/uchaos_dev.ko.gz
kdev/uchaos_dev.ko
usrl/uchaosbox
kdev/*.cmd
kdev/*.mod*
kdev/*.o
usrl/*.o
gzcmd.sh
cpio/bin
cpio/lib
cpio/linuxrc
cpio/sbin
cpio/usr
cpio.cpio
qemu/bzImage
qemu/initramfs.cpio.gz
