[submodule "musl"]
	path = musl
	url = https://github.com/robang74/musl-cross-make.git
[submodule "minz"]
	path = minz
	url = https://github.com/robang74/miniz.git
[submodule "bbox"]
	path = bbox
	url = https://github.com/robang74/busybox.git
[submodule "prnd"]
	path = prnd
	url = https://github.com/robang74/pracrand.git
[submodule "slirp"]
	path = qemu/slirp
	url = https://github.com/robang74/libslirp.git
[submodule "ucfg"]
	path = ucfg
	url = https://github.com/robang74/u-config.git
